/* CSS files add styling rules to your content */

h1 {
  color: turquoise;
  text-align:center;
    font-size: 45px;
}
h2{color:purple;}
body{background-color:pink;} 
img{width:450px;
}
container{display:flex;}
h2{color:blue;}
.row{text-align:center;}
p{color:purple}
.navbar{display:flex;
justify-content:space-between;
background-color:turquoise;}